{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="home-bg">
  <!--Bootstrap dark mode hero-->
  <section class="hero-section">
    <div class="text-secondary px-4 py-5 text-center">
      <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Welcome to Graphics Design Space</h1>
        <div class="col-lg-6 mx-auto">
          <p class="fs-5 mb-4 text-white">
            With more than five years of experience in the graphics design, I am a talented graphic
            designer that excels at Icons, logos, and poster graphics for modern businesses. You can choose to purchase any of my
            previous works immediately, or you can ask for a quote to acquire a more specialised product that will better meet
            your needs.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Shop Now</button>
            <button type="button" class="btn btn-outline-light btn-lg px-4">Request a quote</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--bootstrap marketing features section-->
  <section class="features-section">
    <h2 class="features-heading text-white">Features</h1>

    <div class="container marketing text-white" style="text-align: center;">
      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="/media/pad-icon.jpg" alt="Pad Icon">
          <h3 class="">Icons</h3>
          <p>Custom icons that stand out</p>
          <p><a class="btn btn-outline-info" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="/media/generic-logo.jpg" alt="Logos Icon">
          <h3 class="">Logos</h2>
          <p>Pesonalised logos to fit your needs</p>
          <p><a class="btn btn-outline-info" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="/media/generic-poster.jpg" alt="Posters Icon">
          <h3 class="">Posters</h3>
          <p>Unique posters for all occasions</p>
          <p><a class="btn btn-outline-info" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>
  
</main>
{% endblock %}