{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="home-bg">
  <!--Bootstrap dark mode hero-->
  <section class="hero-section">
    <div class="text-secondary px-4 py-5 text-center">
      <div class="py-5">
        <h1 class="display-4 fw-bold text-white">Welcome to Graphics Design Space</h1>
        <div class="col-lg-6 mx-auto">
          <h3 class="fs-5 mb-4 text-white">
            Welcome to Graphics design space, a website where you can purchase graphic designs that you can download.
            We offer a wide variety of graphic designs, including posters, icons, and logos etc.. You have the option of
            making a quick purchase of any of our previous designs or you can request a quote for a more specialised product that
            will better suit your requirements.
          </h3>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" href="{% url 'products' %}" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Shop Now</a>
            {% if request.user.is_authenticated %}
            <a type="button" href="{% url 'quote_request' %}" class="btn btn-outline-light btn-lg px-4">Request a Quote</a>
            {% else %}
            <button type="button" class="btn btn-outline-light btn-lg px-4"
            data-bs-container="body"
            data-bs-toggle="popover" 
            data-bs-placement="bottom" 
            data-bs-content="You need to sign up for an account to request a quote">Request a Quote</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--bootstrap marketing features section-->
  <section class="features-section">
    <div class="my-5">
      <h2 class="section-heading text-white">Features</h2>
    </div>

    <div class="container marketing text-white" style="text-align: center;">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626339/media/pad-icon_ugaocb.jpg" alt="Icons Icon">
          <h3 class="">Icons</h3>
          <p>Custom icons that stand out</p>
          <p><a class="btn btn-outline-info" href="{% url 'products' %}?category=icons">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626338/media/generic-logo_nrskp0.jpg" alt="Logos Icon">
          <h3 class="">Logos</h2>
          <p>Pesonalised logos to fit your needs</p>
          <p><a class="btn btn-outline-info" href="{% url 'products' %}?category=logos">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626338/media/generic-poster_yc2umo.jpg" alt="Posters Icon">
          <h3 class="">Posters</h3>
          <p>Unique posters for all occasions</p>
          <p><a class="btn btn-outline-info" href="{% url 'products' %}?category=posters">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626339/media/sticker-design_ckrxxo.png" alt="Stickers Icon">
          <h3 class="">Stickers</h3>
          <p>Beautifuly customised stickers </p>
          <p><a class="btn btn-outline-info" href="{% url 'products' %}?category=stickers">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626341/media/generic-wallpaper_r6oyd2.jpg" alt="Wallpapers Icon">
          <h3 class="">Wallpapers</h2>
          <p>Stunning high resoluton Wallpapers</p>
          <p><a class="btn btn-outline-info" href="{% url 'products' %}?category=wallpapers">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 features-headings">
          <img class="feature-icon rounded-circle"width="140" height="140" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626338/media/generic-banner_ekk24t.jpg" alt="Banners Icon">
          <h3 class="">Banners</h3>
          <p>Delightful high quality banners</p>
          <p><a class="btn btn-outline-info" href="{% url 'products' %}?category=banners">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>
  
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

{% endblock %}