{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block content %}
<main class="special-bg">

  <section class="profile-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">My Profile</h2>
    </div>

    <div class="container">  
      <!-- Bootstrap card-->
      <div class="card main-bg px-3">
        {{ profile.user }}
       
      </div><!-- end/ Bootstap card -->

    </div>
  </section>

</main>
{% endblock %}
