{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

  <section class="wishlist-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">My Profile</h2>
    </div>

    <div class="container">

      <!-- Bootstrap card-->
      <div class="card main-bg">

        <div class="card-header bg-white">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_info' %}">Profile Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_billing_details' %}">Billing Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order_history' %}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wish_list' %}">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'quote_history' %}">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_reviews' %}">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'profile_testimonials' %}">Testimonials</a>
            </li>
          </ul>
        </div>


      


        <div class="card-body text-white">
          <p>My Testimonials</p>
        
        
          <a href="{% url 'add_testimonial' %}" class="btn btn-primary">Add a Testimonial</a>
        
        
          <!-- Bbbootsrap testimonial card layout example https://bbbootstrap.com/snippets/bootstrap-5-user-testimonial-star-ratings-51527336-->
          <div class="row g-2">
            {% for testimonial in testimonials %}
            <div class="col-md-4">
              <!-- Bootstrap card-->
              <div class="card p-3 main-bg text-white text-center px-4">
                <div class="card-body">
                  {% if testimonial.user.profile_image %}
                  <img class="img-fluid rounded-circle" width="80" src="{{ testimonial.user.profile_image.url }}"
                    alt="{{ product.name }}">
                  {% else %}
                  <img class="img-fluid rounded-circle" width="80" src="{{ MEDIA_URL }}no_image_available.svg"
                    alt="{{ product.name }}">
                  {% endif %}
                </div>
        
                <div class="card-body">
                  <h5>{{ testimonial.user.user }}</h5>
                  <p>{{ testimonial.body }}</p>
                </div>
        
                <!-- Card buttons -->
        
                <div class="d-flex justify-content-end align-items-center">
                  <a type="button" href="{% url 'edit_testimonial' testimonial.id %}" class="btn btn-sm btn-outline-info mx-1">Edit</a>
                  <a type="button" href="{% url 'delete_testimonial' testimonial.id %}" class="btn btn-sm btn-outline-light mx-1">Delete</a>
                </div>
        
              </div><!-- end/ Bootstrap card-->
        
            </div>
            {% endfor %}
          </div>
        </div>

      

    </div>
  </section>

</main>
{% endblock %}
