{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

  <section class="wishlist-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">My Profile</h2>
    </div>

    <div class="container">

      <!-- Bootstrap card-->
      <div class="card main-bg">
        <div class="card-header bg-white d-none d-lg-block">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_info' %}">Profile Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_billing_details' %}">Billing Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order_history' %}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wish_list' %}">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'quote_history' %}">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'profile_reviews' %}">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_testimonials' %}">Testimonials</a>
            </li>
          </ul>
        </div>
        <!-- collapsing bootstrap button for mobile nav-->
        <div class="card-header bg-white text-center d-lg-none">
          <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#profileNav" aria-expanded="false" aria-controls="collapseProfileNav">
            <i class="fa-solid fa-bars"></i> Profile menu
          </button>
          <ul class="nav flex-column nav-pills card-header-pills collapse mt-1" id="profileNav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_info' %}">Profile Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_billing_details' %}">Billing Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order_history' %}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wish_list' %}">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'quote_history' %}">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'profile_reviews' %}">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_testimonials' %}">Testimonials</a>
            </li>
          </ul>
        </div>


      
        <div class="card-body text-info">
          <p>My Reviews</p>
        </div>

        <div class="card-body text-white">
        
        
          {% for review in reviews %}
          <!-- Bootstrap card-->
          <div class="card border main-bg text-white mb-3">
            <div class="card-body">
              <p>
                {% if review.rating %}
                {{ review.rating }}/5<i class="fa-solid fa-star text-warning"></i>
                {% else %}
                No rating
                {% endif %}
                <span class="h4">{{ review.title }}</span> 
              </p>
              <p>
                <small class="text-info">Review by <strong>{{ review.user }}</strong> on {{ review.submitted }}</small>
              </p>
              <p>{{ review.body }}</p>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-end align-items-center">
                <a href="{% url 'edit_review' review.id %}" class="btn btn-sm btn-outline-info mx-1">Edit</a>
                <a href="{% url 'delete_review' review.id %}" class="btn btn-sm btn-outline-light mx-1">Delete</a>
              </div>
            </div>
          </div><!-- end/ Bootstrap card-->
          {% endfor %}
        
        
        </div>

      

    </div>
  </section>

</main>
{% endblock %}
