{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

  <section class="profile-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">My Profile</h2>
    </div>

    <div class="container">

          <!-- Bootstrap navigation card-->
          <div class="card main-bg">
            <div class="card-header bg-white">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'profile_info' %}">Profile Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile_billing_details' %}">Billing Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'order_history' %}">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'wish_list' %}">Wishlist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quote_history' %}">Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile_reviews' %}">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile_testimonials' %}">Testimonials</a>
                </li>
              </ul>
            </div>

            <div class="card-body">
              <p>Profile Info</p>
            </div>

            <div class="card-body text-center">
              {% if profile.profile_image %}
                <img class="img-fluid rounded-circle" width="300" src="{{ profile.profile_image.url }}" alt="Profile Picture">
              {% else %}
                <img class="img-fluid rounded-circle" width="300" src="{{ MEDIA_URL }}blank-profile-picture.png" alt="Profile Picture">
              {% endif %}
            </div>
          
            <div class="card-body text-white">
              <form class="mt-3" action="{% url 'profile_info' %}" method="POST" id="profile-info-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_info_form.profile_image|as_crispy_field }}
                {{ user_form.username|as_crispy_field }}
                {{ user_form.email|as_crispy_field }}
                {{ profile_info_form.default_phone_number|as_crispy_field }}
                {{ profile_info_form.first_name|as_crispy_field }}
                {{ profile_info_form.last_name|as_crispy_field }}
                <button type="submit" class="btn btn-info text-uppercase">Update Profile</button>
              </form>

            </div>
          </div><!-- end/ Bootstrap navigation card-->
    
    </div>
    </section>

</main>
{% endblock %}

