{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block content %}
<main class="special-bg">

  <section class="profile-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">My Profile</h2>
    </div>

    <div class="container">

          <!-- Bootstrap navigation card-->
          <div class="card main-bg">
            <div class="card-header bg-white">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile_info' %}">Profile Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'profile_billing_details' %}">Billing Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'order_history' %}">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Wishlist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quote_history' %}">Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Testimonials</a>
                </li>
              </ul>
            </div>
          
            <div class="card-body text-white">
              <p>Default Billing Information</p>
              <form class="mt-3" action="{% url 'profile_billing_details' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-info text-uppercase">Update Information</button>
              </form>
            </div>
          </div><!-- end/ Bootstrap navigation card-->
    
    </div>
    </section>

</main>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
