{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

  <section class="wishlist-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">My Profile</h2>
    </div>

    <div class="container">

      <!-- Bootstrap card-->
      <div class="card main-bg">

        <div class="card-header bg-white">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_info' %}">Profile Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_billing_details' %}">Billing Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order_history' %}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'wish_list' %}">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'quote_history' %}">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_reviews' %}">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_testimonials' %}">Testimonials</a>
            </li>
          </ul>
        </div>


        {% if wish_list_items%}
        <!-- Amount of items in cart info -->
        <div class="card-header">
          <h5 class="card-title text-white">4 items in Wishlist</h5>
        </div>


        <div class="card-body">
          <!-- Card table header -->
          <div class="card cart-table-header bg-danger d-none d-md-block h3">
            <div class="card-body d-flex justify-content-between">
              <p>Product Info</p>
              <p>Price</p>
            </div>
          </div>

          {% for item in wish_list_items %}

          <!-- Card cart item -->
          <div class="card cart-item bg-success">

            <div class="card-body cart-item-img">
              {% if item.product.image %}
              <a href="{% url 'product_detail' item.product.slug %}">
                <img class="img-fluid bg-white rounded p-2" width="80" src="{{ item.product.image.url }}"
                  alt="{{ item.product.name }}">
              </a>
              {% else %}
              <a href="{% url 'product_detail' item.product.slug %}">
                <img class="img-fluid product-list-card-img bg-white rounded p-2" width="80"
                  src="{{ MEDIA_URL }}no_image_available.svg" alt="{{ item.product.name }}">
              </a>
              {% endif %}
            </div>
            <div class="card-body cart-info">
              <p class="h3">{{ item.product.name }}</p>
              <p class="d-none d-md-block">{{ item.product.category }}</p>
            </div>
            <div class="card-body d-flex justify-content-between flex-md-row-reverse cart-price">
              <p class="h3">£{{ item.product.price }}</p>
              <a id="remove-{{ item.product.slug }}" class="remove-item btn btn-danger mx-1"><i class="fa-solid fa-x"></i></a>
              <a id="add-{{ item.product.slug }}" class="add-item btn btn-primary mx-1"><i class="fa-solid fa-cart-arrow-down"></i></a>
            </div>
          </div>
          {% endfor %}

        </div>

        {% else %}
        <!-- No items in wishlist info -->
        <div class="card-header">
          <h5 class="card-title text-white">Your wish list is empty</h5>
        </div>
        <div class="card-body">
          
          <a type="button" href="{% url 'products' %}" lass="btn btn-primary btn-lg my-1 mx-1">Keep shopping</a>
        </div>
      </div><!-- end/ Bootstap card -->
        {% endif %}

    </div>
  </section>

</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
const removeItems = document.querySelectorAll(".remove-item")
for (let removeItem of removeItems) {
  removeItem.addEventListener('click', function() {
    
  const csrftoken = "{{ csrf_token }}";
  let id = this.getAttribute('id');
  let slug = id.split('remove-')[1];
  let url = `/wishlist/remove/${slug}/`;

  // AJAX request with csrftoken from Django docs
  const request = new Request(
    url,
    {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin' // Do not send CSRF token to another domain.
    }
  );
  fetch(request).then(function(response) {
    location.reload();
  });
  })
}
</script>
<script type="text/javascript">
  const addItems = document.querySelectorAll(".add-item")
  for (let addItem of addItems) {
    addItem.addEventListener('click', function() {
      
    const csrftoken = "{{ csrf_token }}";
    let id = this.getAttribute('id');
    let slug = id.split('add-')[1];
    let url = `/wishlist/add_to_cart/${slug}/`;
    console.log(url)
  
    // AJAX request with csrftoken from Django docs
    const request = new Request(
      url,
      {
          method: 'POST',
          headers: {'X-CSRFToken': csrftoken},
          mode: 'same-origin' // Do not send CSRF token to another domain.
      }
    );
    fetch(request).then(function(response) {
      location.reload();
    });
    })
  }
  </script>

{% endblock %}