{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="special-bg">

  <div class="container">
    <section class="testimonials-section py-5">
      <div class="text-center my-3">
        <h2 class="section-heading">Testimonials</h2>
      </div>


      <div class="card main-bg text-white">
        <div class="card-body">
          <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-light mx-1">
              <i class="fas fa-chevron-left"></i>
              Cancel
            </a>
            <input class="btn btn-outline-info" type="submit" value="Update Testimonial">
          </form>
        </div>
      

      </div>
      

    </section>
  </div>

</main>
{% endblock %}