{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="special-bg">

  <div class="container">
    <section class="testimonials-section py-5">
      <div class="text-center my-3">
        <h2 class="section-heading">Testimonials</h2>
      </div>


      <!-- Bbbootsrap testimonial card layout example https://bbbootstrap.com/snippets/bootstrap-5-user-testimonial-star-ratings-51527336-->
      <div class="row g-2">
        {% for testimonial in testimonials %}
        {% if testimonial.approved %}
      <div class="col-md-4">
        <!-- Bootstrap card-->
        <div class="card p-3 main-bg text-white text-center px-4">
            <div class="card-body">
                {% if testimonial.user.profile_image %}
                  <img class="img-fluid rounded-circle" width="80" src="{{ testimonial.user.profile_image.url }}" alt="{{ product.name }}">
                {% else %}
                  <img class="img-fluid rounded-circle" width="80" src="{{ MEDIA_URL }}no_image_available.svg" alt="{{ product.name }}">
                {% endif %}
              </div>
    
              <div class="card-body">
                <h5>{{ testimonial.user.user }}</h5>
                <p>{{ testimonial.body }}</p>
              </div>

              <!-- Card buttons -->
      
                <div class="d-flex justify-content-end align-items-center">
                  <a type="button" href="{% url 'edit_testimonial' testimonial.id %}" class="btn btn-sm btn-outline-info mx-1">Edit</a>
                  <a type="button" href="{% url 'delete_testimonial' testimonial.id %}" class="btn btn-sm btn-outline-light mx-1">Delete</a>
                </div>
  
        </div><!-- end/ Bootstrap card-->
    
      </div>
      {% endif %}
      {% endfor %}
      </div>
      

    </section>
  </div>

</main>
{% endblock %}