{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

    <!-- Checkout downloads -->
    <div class="container">

      <section class=" checkout-downloads-section py-5">
        <div class="text-center my-3">
          <h2 class="section-heading">Downloads</h2>
        </div>

        <!-- Bootstrap card-->
        <div class="card main-bg">

          
          
          <!-- Amount of items in cart info -->
          <div class="card-header">
            {% if order.lineitems.count >= 2 %}
            <h5 class="card-title text-info">{{ order.lineitems.count }} items to download</h5>
            {% else %}
            <h5 class="card-title text-info">1 item to download</h5>
            {% endif %}
          </div>
          
          <div class="card-body">
            {% for item in order.lineitems.all %}
            
            <!-- Card cart item -->
            <div class="card cart-item bg-light">
              <div class="card-body cart-item-img">
                {% if item.product.image %}
                  <img class="img-fluid bg-white rounded-1 p-2" src="{{ item.product.image.url}}" alt="{{ product.name }}">
                {% else %}
                  <img class="img-fluid product-list-card-img bg-white rounded-1 p-2" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626339/media/no_image_available_sywvct.svg" alt="{{ product.name }}">
                {% endif %}
              </div>
              <div class="card-body cart-info">
                <p class="h3">{{ item.product.name }}</p>
                <p class="d-none d-md-block">{{ item.product.category }}</p>
              </div>
              <div class="card-body d-flex justify-content-between flex-md-row cart-price">
                <a id="{{ item.product.slug }}" href="{{ item.product.image.url}}"
                  download="{{ item.product.name }}" class="download-item btn btn-info main-bg text-white mx-1">Download
                </a>
              </div>
            </div>
            {% endfor %}

            
            
          </div>
          <div class="card-body">
            <a href="{% url 'products' %}" class="btn btn-outline-light">
              <i class="fas fa-chevron-left"></i>Continue Shopping
            </a>
          </div>

        </div><!-- end/ Bootstap card -->


      </section>

        


      </div>  



</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'checkout/js/download.js' %}"></script>
{% endblock %}
