{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}
<main class="special-bg">

  <div class="container-xl">
  <section class="checkout-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">Checkout</h2>
    </div>

    <div class="row">
      <div class="col-lg order-lg-2">
              <!-- Bootstrap card-->
      <div class="card main-bg">
        
        <!-- Amount of items in cart info -->
        <div class="card-header">
          <h5 class="card-title text-info">Order Summary ({{ product_count }})</h5>
        </div>

        <div class="card-body">
          <!-- Card table header -->
          <div class="card cart-table-header bg-white d-none d-md-block h3">
            <div class="card-body d-flex justify-content-between">
              <p>Item</p>
              <p class="">Subtotal</p>
            </div>
          </div>
        
          {% for item in cart_items %}
          
          <!-- Card cart item -->
          <div class="card cart-item bg-light">
            <div class="card-body cart-item-img">
              {% if item.product.image %}
                <img class="img-fluid bg-white rounded-1 p-2" src="{{ item.product.image.url}}" alt="{{ product.name }}">
              {% else %}
                <img class="img-fluid product-list-card-img bg-white rounded-1 p-2" src="{{ MEDIA_URL }}no_image_available.svg" alt="{{ product.name }}">
              {% endif %}
            </div>
            <div class="card-body cart-info">
              <p class="h3">{{ item.product.name }}</p>
              <p class="d-none d-md-block">{{ item.product.category }}</p>
            </div>
            <div class="card-body d-flex justify-content-between flex-md-row cart-price">
              <p class="h3">£{{ item.product.price }}</p>
            </div>
          </div>
          {% endfor %}
        
          <!-- Card order total box -->
          <div class="total-wrapper d-flex justify-content-center justify-content-md-end mt-3">
            <div class="card total-box text-dark bg-info">
              <div class="card-body d-flex justify-content-between py-1 h4">
                <p class="my-1">Order Subtotal:</p>
                <p class="my-1">£{{ subtotal|floatformat:2 }}</p>
              </div>
              <div class="card-body d-flex justify-content-between py-1 h4">
                <p class="my-1">Discount:</p>
                <p class="my-1">-£{{ discount|floatformat:2 }}</p>
              </div>
              <div class="card-body d-flex justify-content-between py-1 h4">
                <p class="my-1">Order Total:</p>
                <p class="my-1">£{{ total|floatformat:2 }}</p>
              </div>
            </div>
          </div>

        </div>
      

      </div><!-- end/ Bootstap card -->


      </div>




      <div class="col-lg">
              <!-- Bootstrap card-->
      <div class="card text-white main-bg">

        <div class="card-header text-info">
          <p>Please fill out the form below</p>
        </div>


        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
          {% csrf_token %}
          <fieldset class="rounded px-3 mb-5">
            <legend class="fieldset-label small px-2 w-auto">Details</legend>
            {{ order_form.full_name | as_crispy_field }}
            {{ order_form.email | as_crispy_field }}
          </fieldset>
          <fieldset class="rounded px-3 mb-5">
            <legend class="fieldset-label small px-2 w-auto">Billing Details</legend>
            {{ order_form.phone_number | as_crispy_field }}
            {{ order_form.street_address1 | as_crispy_field }}
            {{ order_form.street_address2 | as_crispy_field }}
            {{ order_form.town_or_city | as_crispy_field }}
            {{ order_form.county | as_crispy_field }}
            {{ order_form.postcode | as_crispy_field }}
            {{ order_form.country | as_crispy_field }}
            <div class="form-check form-check-inline float-right mr-0">
              {% if user.is_authenticated %}
              <label class="form-check-label" for="id-save-info">Save this billing information to my profile</label>
              <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
              {% else %}
              <label class="form-check-label" for="id-save-info">
                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
              </label>
              {% endif %}
            </div>
          </fieldset>
          <fieldset class="px-3">
            <legend class="fieldset-label small px-2 w-auto">Payment</legend>
            <!-- A Stripe card element will go here -->
            <div class="mb-3" id="card-element"></div>

            <!-- Used to display form errors -->
            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
            <!-- Pass the client secret to the view to get the payment intent id -->
            <input type="hidden" value="{{ client_secret }}" name="client_secret">
          </fieldset>

          <div class="card-body submit-button text-right">
            <a href="{% url 'display_cart' %}" class="btn btn-outline-light">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="font-weight-bold">Adjust Cart</span>
            </a>
            <button id="submit-button" class="btn btn-outline-info">
              <span class="font-weight-bold">Complete Order</span>
              <span class="icon">
                <i class="fas fa-lock"></i>
              </span>
            </button>
            <p class="small text-warning my-0">
              <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
              </span>
              <span>Your card will be charged <strong>£{{ total|floatformat:2 }}</strong></span>
            </p>
          </div>
        </form>

      </div><!-- end/ Bootstap card -->


      </div>
    </div>




    




      








    </section>
    </div>

</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}