/*==========================*\
 *ROOT*
\*==========================*/

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1200,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  /* Variabel font sizes from Utopi.*/

  --step--2: clamp(0.91rem, calc(0.89rem + 0.09vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.06rem + 0.19vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.34vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.47rem + 0.55vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.73rem + 0.83vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.03rem + 1.20vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.38rem + 1.71vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.79rem + 2.39vw), 4.58rem);

  --primary-bg-color: #010535;
  --secondary-bg-color: #0ED4FC;
}

/*==========================*\
 *COLORS*
\*==========================*/
.main-bg {
  background-color: var(--primary-bg-color);
}

.special-bg {
  background-color: var(--secondary-bg-color);
}

/*==========================*\
 *TYPOGRAPHY*
\*==========================*/

.section-heading {
  text-decoration: underline;
  font-size: var(--step-2);
  text-align: center;
}

/*==========================*\
 *HEADER*
\*==========================*/

header {
  background-color: var(--primary-bg-color);
}

.main-logo {
  height: 8rem;
  width: 60%;
}

.main-nav-bg-color {
  background-color: var(--primary-bg-color) !important;
}

.mobile-logo {
  height: 5vh;
  width: min(7rem);
}

/*==========================*\
 *HERO SECTION*
\*==========================*/

.hero-section {
  background: none;
}

/*==========================*\
 *FEATURES*
\*==========================*/

.features-headings {
  margin-bottom: 5rem;
}

/*==========================*\
 *MAIN*
\*==========================*/

main {
  min-height: 100vh;
  padding-top: 10em;
}

.home-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 5%2c 53%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c668.937C126.58%2c689.857%2c257.262%2c637.376%2c361.986%2c563.261C464.288%2c490.86%2c540.305%2c382.939%2c574.491%2c262.361C606.223%2c150.439%2c578.324%2c32.913%2c543.849%2c-78.194C513.444%2c-176.184%2c459.003%2c-262.091%2c388.602%2c-336.725C320.542%2c-408.878%2c235.493%2c-455.288%2c146.612%2c-499.316C40.004%2c-552.125%2c-63.439%2c-630.898%2c-181.843%2c-619.301C-307.054%2c-607.037%2c-417.135%2c-527.816%2c-502.832%2c-435.707C-590.404%2c-341.583%2c-682.125%2c-223.977%2c-668.594%2c-96.129C-655.132%2c31.067%2c-507.751%2c93.305%2c-435.66%2c198.959C-379.389%2c281.428%2c-360.347%2c381.882%2c-292.475%2c455.1C-208.676%2c545.5%2c-121.616%2c648.838%2c0%2c668.937' fill='%2301042a'%3e%3c/path%3e%3cpath d='M1440 1001.626C1538.065 1030.365 1645.275 1065.679 1739.379 1025.842 1836.958 984.534 1906.316 889.0129999999999 1941.842 789.184 1976.05 693.059 1951.407 589.326 1930.2440000000001 489.514 1910.309 395.495 1888.179 298.753 1822.899 228.216 1758.609 158.748 1665.814 126.50299999999999 1573.79 104.35399999999998 1485.229 83.03899999999999 1393.663 78.88 1306.054 103.82100000000003 1217.966 128.89800000000002 1139.221 178.236 1077.279 245.70100000000002 1014.116 314.497 959.133 396.695 951.684 489.791 944.408 580.727 983.591 670.198 1037.4180000000001 743.8530000000001 1085.465 809.6 1166.939 834.271 1235.517 878.182 1303.954 922.002 1362.016 978.7719999999999 1440 1001.626' fill='%23010640'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

/*==========================*\
 *FOOTER*
\*==========================*/

footer {
  background-color: #0b1b75;
}

.copyright {
  background-color: black;
  color: white;
}

/*==========================*\
 *Products Section*
\*==========================*/

.product-card-bg {
  background-color: var(--primary-bg-color);
}

/*==========================*\
 *Cart Section*
\*==========================*/

.cart-item {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 20%);
  height: 7rem;

}

.cart-item-img {
  grid-row: 2 / 6;
  grid-column: 1 / 2;
  
}

.cart-item-img img {
  max-height: 100%;
  max-width: 100%;
}

.cart-info {
  grid-row: 1/ 2;
  grid-column: 1/ span 2;
}

.cart-price{
  grid-row: 3 / 5;
  grid-column: 2 / 3;
  align-items: center;
}

.total-box {
  max-width: 30rem;
  flex: 2;
}

/*=============================================================*\
 *Back to top button*
 // Scroll Back To Top button from Material Design for Bootstrap
  https://mdbootstrap.com/docs/standard/extended/back-to-top/
//
\*=============================================================*/

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#btn-back-to-top:hover {
  background-color: #0c2459;
}


/*==========================*\
 *Messages*
\*==========================*/

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999;
}




/*==================================================================*\
 *MEDIA QUERIES*
 // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// from Bootstrap https://getbootstrap.com/docs/5.0/layout/breakpoints/
\*==================================================================*/

/**
 * Small devices (landscape phones, 576px and up)
 */
@media only screen and (min-width: 576px) {

}

/**
 * Medium devices (tablets, 768px and up)
 */
@media only screen and (min-width: 768px) {

  /**
  *Cart Section*
  */
  .cart-item {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100%;
    grid-auto-flow: column;
    max-height: 8rem;
  }

  .cart-item-img {
    grid-row: 1;
    grid-column: 1;
  }
  
  .cart-info {
    grid-row: 1;
    grid-column: 2;
  }
  
  .cart-price {
    grid-row: 1;
    grid-column: 3;
    justify-content: end !important;
  }

  .cart-buttons {
    flex-direction: row !important;
  }







}

/**
 * Large devices (desktops, 992px and up)
 */
@media only screen and (min-width: 992px) {

}

/**
 * X-Large devices (large desktops, 1200px and up)
 */
@media only screen and (min-width: 1200px) {

}

/**
 * XX-Large devices (larger desktops, 1400px and up)
 */
@media only screen and (min-width: 1400px) {

}