/*==========================*\
 *ROOT*
\*==========================*/

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1200,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  /* Variabel font sizes from Utopi.*/

  --step--2: clamp(0.91rem, calc(0.89rem + 0.09vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.06rem + 0.19vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.34vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.47rem + 0.55vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.73rem + 0.83vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.03rem + 1.20vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.38rem + 1.71vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.79rem + 2.39vw), 4.58rem);

  --primary-bg-color: #010535;
  --secondary-bg-color: #0ED4FC;
}

/*==========================*\
 *COLORS*
\*==========================*/
.main-bg {
  background-color: var(--primary-bg-color);
}

.special-bg {
  background-color: var(--secondary-bg-color);
}

/*==========================*\
 *TYPOGRAPHY*
\*==========================*/

.section-heading {
  text-decoration: underline;
  font-size: var(--step-2);
  text-align: center;
}

/*==========================*\
 *HEADER*
\*==========================*/

header {
  background-color: var(--primary-bg-color);
}

.main-logo {
  height: 8rem;
  width: 60%;
}

.main-nav-bg-color {
  background-color: var(--primary-bg-color) !important;
}

.mobile-logo {
  height: 5vh;
  width: min(7rem);
}

/*==========================*\
 *HERO SECTION*
\*==========================*/

.hero-section {
  background: none;
}

/*==========================*\
 *FEATURES*
\*==========================*/

.features-heading {
  text-align: center;
  margin-inline: auto;
  font-size: 2rem;
  margin-bottom: 5rem;
  border-bottom: solid;
  width: 45vw;
}

.features-headings {
  margin-bottom: 5rem;
}

/*==========================*\
 *MAIN*
\*==========================*/

main {
  min-height: 100vh;
  padding-top: 10em;
}

.home-bg {
  background: url('/media/home-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

/*==========================*\
 *FOOTER*
\*==========================*/

footer {
  background-color: #0b1b75;
}

.copyright {
  background-color: black;
  color: white;
}

/*==========================*\
 *Products Section*
\*==========================*/

.product-list-card-img {
  max-width: 100%;
  min-width: 100%;
}

.product-card-grid-bg {
  background-color: #0ED4FC;
}

.product-card-bg {
  background-color: var(--primary-bg-color);
}


/*==========================*\
 *MEDIA QUERIES*
 // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// from Bootstrap https://getbootstrap.com/docs/5.0/layout/breakpoints/
\*==========================*/

/**
 * Small devices (landscape phones, 576px and up)
 */
@media only screen and (min-width: 576px) {

}

/**
 * Medium devices (tablets, 768px and up)
 */
@media only screen and (min-width: 768px) {

}

/**
 * Large devices (desktops, 992px and up)
 */
@media only screen and (min-width: 992px) {

}

/**
 * X-Large devices (large desktops, 1200px and up)
 */
@media only screen and (min-width: 1200px) {

}

/**
 * XX-Large devices (larger desktops, 1400px and up)
 */
@media only screen and (min-width: 1400px) {

}