
/*==========================*\
 *TYPOGRAPHY*
\*==========================*/

.section-heading {
  text-decoration: underline;
  font-size: 3rem;
  text-align: center;
}

/*==========================*\
 *HEADER*
\*==========================*/

header {
  background-color: #010535;
}

.main-logo {
  height: 8rem;
  width: 60%;
}

.main-nav-bg-color {
  background-color: #010535 !important;
}

.mobile-logo {
  height: 5vh;
  width: min(7rem);
}

/*==========================*\
 *HERO SECTION*
\*==========================*/

.hero-section {
  background: none;
}

/*==========================*\
 *FEATURES*
\*==========================*/

.features-heading {
  text-align: center;
  margin-inline: auto;
  font-size: 2rem;
  margin-bottom: 5rem;
  border-bottom: solid;
  width: 45vw;
}

.features-headings {
  margin-bottom: 5rem;
}

/*==========================*\
 *MAIN*
\*==========================*/

main {
  min-height: 100vh;
  padding-top: 10em;
}

.home-bg {
  background: url('/media/home-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

/*==========================*\
 *FOOTER*
\*==========================*/

footer {
  background-color: #0b1b75;
}

.copyright {
  background-color: black;
  color: white;
}

/*==========================*\
 *Products Section*
\*==========================*/

.product-list-card-img {
  max-width: 100%;
}


/*==========================*\
 *MEDIA QUERIES*
 // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// from Bootstrap https://getbootstrap.com/docs/5.0/layout/breakpoints/
\*==========================*/

/**
 * Small devices (landscape phones, 576px and up)
 */
@media only screen and (min-width: 576px) {

}

/**
 * Medium devices (tablets, 768px and up)
 */
@media only screen and (min-width: 768px) {

}

/**
 * Large devices (desktops, 992px and up)
 */
@media only screen and (min-width: 992px) {

}

/**
 * X-Large devices (large desktops, 1200px and up)
 */
@media only screen and (min-width: 1200px) {

}

/**
 * XX-Large devices (larger desktops, 1400px and up)
 */
@media only screen and (min-width: 1400px) {

}