<!-- main-nav & off canvas navbar -->
<div class="offcanvas offcanvas-start text-white main-nav-bg-color" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
      Graphics Design Space
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item d-lg-none">
        <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
          Home
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link dropdown-toggle text-white mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All Products
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
          <a href="#" class="dropdown-item">By Price</a>
          <a href="#" class="dropdown-item">
            By Rating
          </a>
          <a href="#" class="dropdown-item">
            By Category
          </a>
          <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link dropdown-toggle text-white mr-5" href="#" id="graphics-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Graphics Designs
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="graphics-link">
          <a href="#" class="dropdown-item">Icons</a>
          <a href="#" class="dropdown-item">Logos</a>
          <a href="#" class="dropdown-item">Posters</a>
          <a href="#" class="dropdown-item">Stickers</a>
          <a href="#" class="dropdown-item">Wallpapers</a>
          <a href="#" class="dropdown-item">Banners</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#">Request a Quote</a>
      </li>

      <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#">Testimonials</a>
      </li>
    </ul>
  </div>
</div>
<!-- end/ main-nav & off canvas navbar -->