 <!-- mobile top nav header -->
 <li class="list-inline-item">
  <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left d-lg-none">
    <a href="{% url 'home' %}" class="nav-link main-logo-link">
      <h2 class="logo-font text-white my-0 d-none d-md-block d-lg-none">
        Graphics Design Space
      </h2>
      <img class="mobile-logo d-md-none" src="{{ MEDIA_URL }}logo-sm-gds.png" alt="GDS Logo">
    </a>
  </div>
</li>

<li class="list-inline-item dropdown">
  <a class="text-white nav-link d-block d-lg-none" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="text-center">
      <div><i class="fas fa-user fa-lg"></i></div>
      <p class="my-0">My Account</p>
    </div>
  </a>
  <div class="dropdown-menu border-0" aria-labelledby="user-options">
    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
        <a href="{% url 'add_product' %}" class="dropdown-item">Admin</a>
      {% endif %}
      <a href="{% url 'profile_info' %}" class="dropdown-item">My Profile</a>
      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
      {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
    {% endif %}
  </div>
</li>

<li class="list-inline-item">
  <a class="text-white nav-link d-block d-lg-none" href="{% url 'display_cart' %}">
    <div class="text-center">
      <div><i class="fa-solid fa-cart-shopping"></i></i></div>
      <p class="my-0">
        {% if total %}
        £{{ total|floatformat:2 }}
        {% else %}
        £0.00
        {% endif %}
      </p>
    </div>
  </a>
</li>

<!-- Mobile search bar -->
<div class="border-0 w-100 py-2 px-1 rounded-0 my-0 d-lg-none" aria-labelledby="mobile-search">
  <form method="GET" action="{% url 'products' %}">
    <!--bootstrap button form addon-->
    <div class="input-group w-100">
      <input class="form-control border border-black" type="text" name="q" placeholder="Search our site">
      <button class="btn btn-outline-info" type="submit" id="button-addon2">
        <span class="icon">
        <i class="fas fa-search"></i>
        </span>
     </button>
    </div>
  </form>
</div><!-- end/ Mobile search bar -->

<!-- end/ mobile top nav header -->