{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}

<main class="special-bg">

  <div class="container">
    <section class="account-inactive-section py-5">
      <div class="text-center my-3">
        <h1>{% trans "Account Inactive" %}</h1>
      </div>

      <!-- Bootstrap card-->
      <div class="card main-bg text-white">
        <div class="card-body">
          <p>{% trans "This account is inactive." %}</p>
        </div>

      </div><!-- end/ Bootstap card -->

    </section>
  </div>

</main>
{% endblock %}
