{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<main class="special-bg">

  <div class="container">
    <section class="logout-section py-5">
      <div class="text-center my-3">
        <h1>{% trans "Sign Out" %}</h1>
      </div>

      <!-- Bootstrap card-->
      <div class="card main-bg text-white text-center">
        <div class="card-header">
          <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>

        <div class="card-body">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-light mx-1">
              <i class="fas fa-chevron-left"></i>
              Cancel
            </a>
            <button type="submit" class="btn btn-outline-info mx-1">{% trans 'Sign Out' %}</button>
          </form>

        </div>

      </div><!-- end/ Bootstap card -->

    </section>
  </div>

</main>

{% endblock %}
