{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <main class="special-bg">
    
        <div class="container">
            <section class="password-change-section py-5">
                <div class="text-center my-3">
                    <h1>{% trans "Change Password" %}</h1>
                </div>
    
                <!-- Bootstrap card-->
                <div class="card main-bg text-white">
    
                    <div class="card-body">
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-outline-info" type="submit" name="action">{% trans "Change Password" %}</button>
                            <p class="my-2">
                                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            </p>
                        </form>
                    </div>
    
                </div><!-- end/ Bootstap card -->
    
            </section>
        </div>
    
    </main>
{% endblock %}
