{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <main class="special-bg">
    
        <div class="container">
            <section class="password-reset-done-section py-5">
                <div class="text-center my-3">
                    <h1>{% trans "Password Reset" %}</h1>
                </div>
    
                <!-- Bootstrap card-->
                <div class="card main-bg text-white">
    
    
                    {% if user.is_authenticated %}
                    <div class="card-header text-info">
                        {% include "account/snippets/already_logged_in.html" %}
                    </div>
                    {% endif %}
    
                    <div class="card-body">
                        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam
                            folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
                    </div>

                </div><!-- end/ Bootstap card -->
    
            </section>
        </div>
    
    </main>
{% endblock %}
