{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

    <main class="special-bg">

      <div class="container">  
        <section class="password-set-section py-5">
          <div class="text-center my-3">
            <h1>{% trans "Set Password" %}</h1>
          </div>
      
            <!-- Bootstrap card-->
            <div class="card main-bg text-white">

              <div class="card-body">
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
              </div>
             
            </div><!-- end/ Bootstap card -->
      
          </section>
          </div>
      
      </main>
{% endblock %}
