{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <main class="special-bg">
    
        <div class="container">
        <section class="password-reset-from-key-section py-5">
            <div class="text-center my-3">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            </div>
    
                <!-- Bootstrap card-->
                <div class="card main-bg text-white">
                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <div class="card-body">
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    </div>
                    {% else %}
                    <div class="card-body">
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-outline-info" name="action" value="{% trans 'change password' %}" />
                        </form>
                    </div>
                    {% endif %}
    
                </div><!-- end/ Bootstap card -->
    
            </section>
            </div>
    
    </main>
{% endblock %}
