{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <main class="special-bg">
    
        <div class="container">
            <section class="password-reset-section py-5">
                <div class="text-center my-3">
                    <h1>{% trans "Password Reset" %}</h1>
                </div>
    
                <!-- Bootstrap card-->
                <div class="card main-bg text-white">
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
    
                    <div class="card-header">
                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                    </div>
    
                    <div class="card-body">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-outline-info" />
                        </form>
    
                    </div>
                    <div class="card-body">
                        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </div>
    
                </div><!-- end/ Bootstap card -->
    
            </section>
        </div>
    
    </main>
{% endblock %}
