{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

  <section class="quote-history-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">My Profile</h2>
    </div>

    <div class="container">

          <!-- Bootstrap navigation card-->
          <div class="card main-bg">
            <div class="card-header bg-white">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile_info' %}">Profile Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile_billing_details' %}">Billing Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'order_history' %}">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'wish_list' %}">Wishlist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'quote_history' %}">Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Testimonials</a>
                </li>
              </ul>
            </div>
          
            <div class="card-body text-white">
              <p>My Requests</p>
                      <!-- Bootstrap table-->
        <div class="table-responsive-lg">
          <table class="table text-nowrap text-white">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Quote Order No.</th>
                <th scope="col">Design Name</th>
                <th scope="col">Type</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
             {% for quote_order in quote_orders %}
              <tr>
                <th scope="row">1</th>
                <td><a href="{% url 'quote_history_detail' quote_order.quote_order_number %}">{{ quote_order.quote_order_number|truncatechars:13 }}</a></td>
                <td>{{ quote_order.quote_request_name }}</td>
                <td>{{ quote_order.type }}</td>
                <td>{{ quote_order.size }}</td>
                <td>£{{ quote_order.total }}</td>
                <td>{{ quote_order.submitted }}</td>
                <td>
                  {% if quote_order.quote_order_set.status and quote_order.quote_order_set.image  %}
                  <a href="{{ quote_order.quote_order_set.image.url }}" download="{{ quote_order.quote_request_name }}" 
                     class="download-item btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-custom-class="custom-tooltip" data-bs-title="Clicke to download {{ quote_order.quote_request_name }}">
                    Completed
                  </a>
                  {% else %}
                  pending...
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
         
            </tbody>
          </table><!-- end/ Bootstrap table-->
        </div>
              
              
              
              
              

            </div>

          </div><!-- end/ Bootstrap navigation card-->
          
    
    </div>
    </section>

</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'checkout/js/download.js' %}"></script>
    <script type="text/javascript">
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
{% endblock %}
