{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'quotes/css/quotes.css' %}">
{% endblock %}

{% block content %}
<main class="special-bg">
  <section class="quote-request-section py-5">
    <div class="col text-center my-3">
      <h2 class="section-heading">Quote Request</h2>
    </div>

    <div class="container">   


      <!-- Bootstrap card-->
      <div class="card main-bg">
        <div class="card-header text-info">
          <p>Please fill out the form below</p>
        </div>
        <div class="card-body">
        <form action="" method="POST" id="payment-form" class="text-white">
          {% csrf_token %}

            {{ form | crispy }}





             <!-- Card order total box -->
            <div class="card total-box bg-light text-dark">
              <div class="card-body d-flex justify-content-between py-1 h4">
                <p class="my-1">Subtotal:</p>
                <p  id="subtotal" class="my-1">£0.00</p>
              </div>
              <div class="card-body d-flex justify-content-between py-1 h4">
                <p class="my-1">Discount:</p>
                <p id="discount" class="my-1">-£0.00</p>
              </div>
              <div class="card-body d-flex justify-content-between py-1 h4">
                <p class="my-1">Total:</p>
                <p id="total" class="my-1">£0.00</p>
              </div>
            </div><!-- end/ Card order total box -->

          <button type="submit" class="btn btn-outline-info mt-2">
            Secure Checkout
            <span class="icon">
            <i class="fas fa-chevron-right"></i>
          </span></button>

        </form>
        </div>

      </div><!-- end/ Bootstap card -->



    </div>


  </section>
 
  
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'quotes/js/quote_request.js' %}"></script>
{% endblock %}