{% extends "base.html" %}
{% load static %}



{% block content %}
<main class="special-bg">
  <section class="quote-checkout-success-section py-5">
    <div class="col text-center my-3">
      <h2 class="section-heading">Thank you</h2>
    </div>


    <div class="container">
      <!-- Bootstrap card-->
      <div class="card text-white main-bg px-3">
        <p class="">Your Quote request order information is below. A confirmation email will be sent to <strong>{{ quote_order.email }}</strong>.</p>

         <!-- Quote Request Order confirmaton wrapper-->
        <div class="order-confirmation-wrapper p-2 border">

          <div class="row">
              <div class="col">
                  <small class="text-info">Quote Order Info:</small>
              </div>
          </div>

          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0  font-weight-bold">Quote Order Number:</p>
              </div>
              <div class="col-12 col-md-4 text-md-right">
                  <p class="mb-0">{{ quote_order.quote_order_number }}</p>
              </div>
          </div>
         
          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0  font-weight-bold">Quote Order Date:</p>
              </div>
              <div class="col-12 col-md-4 text-md-right">
                  <p class="mb-0">{{ quote_order.submitted }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <small class="text-info">Quote Order Details:</small>
              </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Design Name:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">{{ quote_order.quote_request_name }}</p>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Type:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">{{ quote_order.type }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Size:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">{{ quote_order.size }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold"><small>Description:</small></p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0"><small>{{ quote_order.description }}</small></p>
            </div>
        </div>

          <div class="row">
              <div class="col">
                  <small class="text-info">Billing information for:</small>
              </div>
          </div>

          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0  font-weight-bold">Name:</p>
              </div>
              <div class="col-12 col-md-4 text-md-right">
                  <p class="mb-0">{{ quote_order.name }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0  font-weight-bold">Email:</p>
              </div>
              <div class="col-12 col-md-4 text-md-right">
                  <p class="mb-0">{{ quote_order.email }}</p>
              </div>
          </div>


          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0  font-weight-bold">Quote Order Subtotal:</p>
              </div>
              <div class="col-12 col-md-4 text-md-right">
                  <p class="mb-0">£{{ quote_order.subtotal }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0  font-weight-bold">Discount:</p>
              </div>
              <div class="col-12 col-md-4 text-md-right">
                  <p class="mb-0">-£{{ quote_order.discount }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0  font-weight-bold">Total:</p>
              </div>
              <div class="col-12 col-md-4 text-md-right">
                  <p class="mb-0">£{{ quote_order.total}}</p>
              </div>
          </div>      
      </div><!-- end/ Quote Request Order confirmaton wrapper-->


      <div class="col-12 col-lg-7 text-right">
    <a href="{% url 'quote_request' %}" class="btn btn-success my-2">
        <span class="icon mr-2">
            <i class="fas fa-gifts"></i>
        </span>
        <span class="text-uppercase">Request Another Quote?</span>
    </a>
    {% if from_quote_history %}
    <a href="{% url 'quote_history' %}" class="btn btn-primary my-2">
        <span class="icon mr-2">
            <i class="fas fa-angle-left"></i>
        </span>
        <span class="text-uppercase">Back to Quote Requests?</span>
    </a>
    {% else %}
    <a href="{% url 'products' %}" class="btn btn-primary my-2">
        <span class="icon mr-2">
            <i class="fas fa-gifts"></i>
        </span>
        <span class="text-uppercase">Continue shopping?</span>
    </a>
      </div>
    {% endif %}




       
  
      </div><!-- end/ Bootstap card -->




    </div>



  </section>
 
  
</main>
{% endblock %}

