{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="special-bg">
  <section class="quote-request-section py-5">
    <div class="col text-center my-3">
      <h2 class="section-heading">Quote Request</h2>

      <!-- Product categories filtering navigation buttons -->


    <div class="container">
    
    
      <!-- Bootstap cards grid -->
      <div class="card main-bg">
    
    
      </div><!-- end/ Bootstap cards grid -->
    
    </div>

    
  </section>
 
  
</main>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script>
</script>
{% endblock %}