{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'quotes/css/quotes.css' %}">
{% endblock %}

{% block content %}
<main class="special-bg">
  <section class="quote-checkout-section py-5">
    <div class="col text-center my-3">
      <h2 class="section-heading">Quote Checkout</h2>
    </div>

    <div class="container">   


      <!-- Bootstrap card-->
      <div class="card main-bg px-3 text-white">
        <p>Subtotal = {{ quote_subtotal }}</p>
        <p>Discount = {{ quote_discount }}</p>
        <p>Total = {{ quote_total }}</p>
        <p>Quote Item Name = {{ quote_item_name }}</p>
        <p>Selected type = {{ selected_type }}</p>
        <p>Selected size = {{ selected_size }}</p>
        <p>Description = {{ quote_description }}</p>
        <p>Quote Order Number = {{ quote_order_number }}</p>



        <form action="" method="POST" id="payment-form" class="text-white">
          {% csrf_token %}

            {{ form | crispy }}
            <fieldset class="px-3">
              <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
              <!-- A Stripe card element will go here -->
              <div class="mb-3" id="card-element"></div>
  
              <!-- Used to display form errors -->
              <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
              <!-- Pass the client secret to the view to get the payment intent id -->
              <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>

            <a href="" class="btn btn-danger ">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="font-weight-bold">Go back</span>
            </a>

            <button id="submit-button" class="btn btn-success">
              <span class="font-weight-bold">Complete Order</span>
              <span class="icon">
                <i class="fas fa-lock"></i>
              </span>
            </button>


        </form>

     


      </div><!-- end/ Bootstap card -->


     
      
 







    </div>


  </section>
 
  
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'quotes/js/stripe_elements.js' %}"></script>
{% endblock %}