{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

  <section class="quote-history-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">My Profile</h2>
    </div>

    <div class="container">

          <!-- Bootstrap navigation card-->
          <div class="card main-bg">
            <div class="card-header bg-white">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Wishlist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Testimonials</a>
                </li>
              </ul>
            </div>
          
            <div class="card-body text-white">
              <p>My Requests</p>

            </div>

          </div><!-- end/ Bootstrap navigation card-->
          
    
    </div>
    </section>

</main>
{% endblock %}
