{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

  <section class="quote-history-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">Product Management</h2>
    </div>

    <div class="container">

          <!-- Bootstrap navigation card-->
          <div class="card main-bg">
            <div class="card-header bg-white">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_product' %}">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'quote_orders' %}">Requests</a>
                </li>
              </ul>
            </div>
          
            <div class="card-body text-white">
              <p>All Customer Requests</p>
                      <!-- Bootstrap table-->
        <div class="table-responsive-lg">
          <table class="table text-nowrap text-white">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Quote Order No.</th>
                <th scope="col">Design Name</th>
                <th scope="col">Customer</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
             {% for quote_order in quote_orders %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ quote_order.quote_order_number|truncatechars:13 }}</td>
                <td>{{ quote_order.quote_request_name }}</td>
                <td>{{ quote_order.name }}</td>
                <td>{{ quote_order.email }}</td>
                <td>{{ quote_order.submitted }}</td>
                <td>£{{ quote_order.total }}</td>
                <td>
                  <a href="{% url 'quote_orders_fufill' quote_order.quote_order_number %}" class="btn btn-danger btn-sm">Pending...</a>
                  <a href="{% url 'quote_fufill_update' quote_order.quote_order_number %}" class="btn btn-success btn-sm">Completed</a>
                </td>
              </tr>
              {% endfor %}
         
            </tbody>
          </table><!-- end/ Bootstrap table-->
        </div>
              
              
              
              
              

            </div>

          </div><!-- end/ Bootstrap navigation card-->
          
    
    </div>
    </section>

</main>
{% endblock %}

