{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="special-bg">
  <section class="quote-fufillment-section py-5">
    <div class="col text-center my-3">
      <h2 class="section-heading">Quote Order Details</h2>
    </div>

    <div class="container">   


      <!-- Bootstrap card-->
      <div class="card main-bg text-white px-3">

      <!-- Quote order details-->
        <div class="card-body">
          <div class="row">
            <div class="col">
                <small class="text-info">Quote Order Info:</small>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Quote Order Number:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">{{ quote_order.quote_order_number }}</p>
            </div>
        </div>
       
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Quote Order Date:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">{{ quote_order.submitted }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <small class="text-info">Quote Order Details:</small>
            </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
              <p class="mb-0  font-weight-bold">Design Name:</p>
          </div>
          <div class="col-12 col-md-4 text-md-right">
              <p class="mb-0">{{ quote_order.quote_request_name }}</p>
          </div>
      </div>

      
      <div class="row">
          <div class="col-12 col-md-4">
              <p class="mb-0  font-weight-bold">Type:</p>
          </div>
          <div class="col-12 col-md-4 text-md-right">
              <p class="mb-0">{{ quote_order.type }}</p>
          </div>
      </div>

      <div class="row">
          <div class="col-12 col-md-4">
              <p class="mb-0  font-weight-bold">Size:</p>
          </div>
          <div class="col-12 col-md-4 text-md-right">
              <p class="mb-0">{{ quote_order.size }}</p>
          </div>
      </div>

      <div class="row">
          <div class="col-12 col-md-4">
              <p class="mb-0  font-weight-bold"><small>Description:</small></p>
          </div>
          <div class="col-12 col-md-4 text-md-right">
              <p class="mb-0"><small>{{ quote_order.description }}</small></p>
          </div>
      </div>

        <div class="row">
            <div class="col">
                <small class="text-info">Billing information for:</small>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Name:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">{{ quote_order.name }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Email:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">{{ quote_order.email }}</p>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Quote Order Subtotal:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">£{{ quote_order.subtotal }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Discount:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">-£{{ quote_order.discount|floatformat:2 }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0  font-weight-bold">Total:</p>
            </div>
            <div class="col-12 col-md-4 text-md-right">
                <p class="mb-0">£{{ quote_order.total}}</p>
            </div>
        </div> 
          
        </div><!-- end/ Quote order details-->

        <div class="card-body">
          <p class="text-white">Please fill out the form below</p>
        <form action="" method="POST" class="form" enctype="multipart/form-data">
          {% csrf_token %}

            {{ form | crispy }}

    

          <a href="{% url 'quote_orders' %}" class="btn btn-danger ">
            <span class="icon">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span class="font-weight-bold">Go back</span>
          </a>
          <button type="submit" class="btn btn-success">Submit Request</button>

        </form>
        </div>

      </div><!-- end/ Bootstap card -->





    </div>


  </section>
 
  
</main>
{% endblock %}