{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="special-bg">

  <section class="quote-history-section py-5">
    <div class="text-center my-3">
      <h2 class="section-heading">Admin</h2>
    </div>

    <div class="container">

          <!-- Bootstrap navigation card-->
          <div class="card main-bg">
            <div class="card-header bg-white d-none d-sm-block">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_product' %}">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'quote_orders' %}">Customer Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'approve_testimonials' %}">Approve Testimonials</a>
                </li>
              </ul>
            </div>
            <!-- Mobile nav-->
            <div class="card-header bg-white text-center d-sm-none">
              <ul class="nav nav-pills flex-column card-header-pills">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_product' %}">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'quote_orders' %}">Customer Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'approve_testimonials' %}">Approve Testimonials</a>
                </li>
              </ul>
            </div>

            <div class="card-header text-info">
              <p>All Customer Requests</p>
            </div>
          
            <div class="card-body text-white">
                      <!-- Bootstrap table-->
        <div class="table-responsive">
          <table class="table text-nowrap text-white">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Quote Order No.</th>
                <th scope="col">Design Name</th>
                <th scope="col">Customer</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
             {% for quote_order in quote_orders %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ quote_order.quote_order_number|truncatechars:13 }}</td>
                <td>{{ quote_order.quote_request_name }}</td>
                <td>{{ quote_order.name }}</td>
                <td>{{ quote_order.email }}</td>
                <td>{{ quote_order.submitted }}</td>
                <td>£{{ quote_order.total }}</td>
                <td><!-- Displays pending or completed if the quote has or has not been complted-->
                  {% if quote_order.quote_order_set.status and quote_order.quote_order_set.image  %}
                  <a href="{% url 'quote_fufill_update' quote_order.quote_order_number %}" class="btn btn-info btn-sm">Completed</a>
                  {% elif quote_order.quote_order_set.status or quote_order.quote_order_set.image  %}
                  <a href="{% url 'quote_fufill_update' quote_order.quote_order_number %}" class="btn btn-warning btn-sm">Pending...</a>
                  {% else  %}
                  <a href="{% url 'quote_orders_fufill' quote_order.quote_order_number %}" class="btn btn-danger btn-sm">Pending...</a>
                  {% endif  %}
                </td>
              </tr>
              {% endfor %}
         
            </tbody>
          </table><!-- end/ Bootstrap table-->
        </div>
              
              
              
              
              

            </div>

          </div><!-- end/ Bootstrap navigation card-->
          
    
    </div>
    </section>

</main>
{% endblock %}

