{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <section class="add-product-section py-5 special-bg">
    <!-- Bootstap cards grid-->
    <div class="mb-5">
      <h2 class="section-heading">Add Product</h2>
    </div>

    <div class="container">

    <!-- Bootstrap card-->
      <div class="card product-card-bg">
        <form method="post" action="{% url 'add_product' %}" class="form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Save" class="btn btn-primary">
        </form>
      </div><!-- end/ Bootstap card -->

    </div>
  </section>

</main>
{% endblock %}