{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <section class="add-product-section py-5 special-bg">
    <!-- Bootstap cards grid-->
    <div class="mb-5">
      <h2 class="section-heading">Product Management</h2>
    </div>

    <div class="container">

    <!-- Bootstrap card-->
      <div class="card product-card-bg">
        <div class="card-header bg-white">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'add_product' %}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'quote_orders' %}">Customer Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'approve_testimonials' %}">Approve Testimonials</a>
            </li>
          </ul>
        </div>

        <div class="card-body text-white">
          <p>Add a product</p>
          <form method="post" action="{% url 'add_product' %}" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-light" href="{% url 'products' %}">Cancel</a>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>

        </div>
        
      </div><!-- end/ Bootstap card -->

    </div>
  </section>

</main>
{% endblock %}