{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="special-bg">
  <div class="container">
  <section class="edit-product-section py-5">
    <!-- Bootstap cards grid-->
    <div class="mb-5">
      <h2 class="section-heading">Edit Product</h2>
    </div>


    <!-- Bootstrap card-->
      <div class="card main-bg text-white">

        <div class="card-body">
          <form method="post" action="." class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-outline-light" href="{% url 'products' %}">
              <i class="fas fa-chevron-left"></i>Cancel
            </a>
            <button type="submit" class="btn btn-outline-info">Update Product</button>
          </form>
        </div>
      </div><!-- end/ Bootstap card -->

    </section>
    </div>

</main>
{% endblock %}