{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="special-bg">
  <div class="container">
  <!-- Product section-->
  <section class="products-detail-section py-5">
    <!-- Bootstap cards grid-->
    <div class="mb-5">
      <h2 class="section-heading">{{product.name}}</h2>
    </div>


    <!-- Bootstrap card-->
      <div class="card product-card-bg">

        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col">
            <!-- card image -->
            <div class="card-body rounded-5">
              {% if product.image %}
              <img class="img-fluid bg-white rounded-1 p-2" src="{{ product.image.url }}" alt="{{ product.name }}">
              {% else %}
              <img class="img-fluid bg-white rounded-1 p-2" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626339/media/no_image_available_sywvct.svg" alt="{{ product.name }}">
              {% endif %}
            </div>
          </div>

          <div class="col">

            <!-- Card heading -->
            <div class="card-body">
              <h5 class="card-title text-white">{{ product.name }}</h5>
            </div>

            <!-- Card tags -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item product-card-bg text-white py-0">
                <a class="link-light" href="{% url 'products' %}?category={{ product.category.slug }}"><small>{{ product.category }}</small></a>
              </li>
              <li class="list-group-item product-card-bg text-white py-0">
                {% if product.rating %}
                <li class="list-group-item product-card-bg text-white py-0">
                  <small>
                    Rating: {{ product.rating }}/5<i class="fa-solid fa-star text-warning"></i>
                  </small>
                </li>
                {% else %}
                <li class="list-group-item product-card-bg text-white py-0"><small>No rating</small></li>
                {% endif %}
                <small>

                </small>
              </li>
              <li class="list-group-item product-card-bg text-white ">{{ product.description }}</li>
              <li class="list-group-item product-card-bg text-white h3">£{{ product.price }}</li>
            </ul>

            

            <!-- Add items to Cart form -->
            <form class="form" action="{% url 'add_to_cart' product.slug %}" method="POST">
              {% csrf_token %}

              <div class="card-body">
                <div class="d-flex flex-column gx-3">
                  {% if not product.slug in request.session.cart %}
                  <input type="submit" class="btn btn-outline-info my-1" value="Add to Cart">
                  {% else %}
                  <button disabled class="btn btn-outline-info my-1">Added to Cart</button>
                  {% endif %}

                  {% if request.user.is_authenticated %}
                    <a type="button" class="btn btn-outline-light my-1">Request Quote</a>
                    {% if not product.slug in wishlist %}
                      <a type="button" id="add-{{ product.slug }}" class="add-item btn btn-outline-warning my-1">Add to Wishlist</a>
                    {% else %}
                      <button type="button" disabled class="btn btn-outline-warning my-1">Added to Wishlist</button>
                    {% endif %}
                    
                  {% else %}
                    <button type="button" disabled class="btn btn-outline-light my-1">Request Quote</button>
                    <button type="button" id="tool-tip-button"  disabled class="btn btn-outline-warning my-1">Add to Wishlist</button>
                  {% endif %}
                  <a type="button" href="{% url 'products' %}"  class="btn btn-outline-success my-1">Keep Shopping</a>
                </div>

                <!-- Hidden input redirects to same page after user adds item to cart-->
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </div>

            </form>
            

            <!-- Card buttons -->
            {% if request.user.is_superuser %}
            <div class="card-body">
              <div class="d-flex justify-content-end align-items-center">
                <a type="button" href="{% url 'edit_product' product.slug %}" class="btn btn-sm btn-outline-info mx-1">Edit</a>
                <a type="button" href="{% url 'delete_product' product.slug %}" class="btn btn-sm btn-outline-light mx-1">Delete</a>
              </div>
            </div>
            {% endif %}


          </div>
        </div>
      </div><!-- end/ Bootstap card -->
    </section><!-- end/ Product section-->



      <!-- Review section-->
  <section class="review-section">
    <div class="mb-5">
      <h2 class="section-heading">Customer Reviews</h2>
    </div>


    <!-- Bootstrap card-->
    <div class="card main-bg text-white">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p>Write Customer review</p>
          <!-- Bootstrap COLLAPSE BUTTON-->
          {% if request.user.is_authenticated %}
          <button type="button" class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#collapseReviewForm" aria-expanded="false" aria-controls="collapseReviewForm">
            Write a review
          </button>
          {% else %}
          <button type="button" class="btn btn-primary" 
            data-bs-container="body"
            data-bs-toggle="popover" 
            data-bs-placement="top" 
            data-bs-content="You need to sign up for an account to write reviews">
            Write a review
          </button>
          {% endif %}
        </div>
        <div class="collapse" id="collapseReviewForm">
          <form action="" method="POST" class="form">
            {% csrf_token %}
  
              {{ form | crispy }}
  
            {% if request.user.is_authenticated %}
            <button type="submit" class="btn btn-outline-info">Submit</button>
            {% else %}
            <button id="review-tooltip" type="submit" disabled class="btn btn-outline-info">Submit</button>
            {% endif %}
  
          </form>
        </div>
 

      </div>
    </div><!-- end/ Bootstrap card-->


    {% for review in reviews%}
    <!-- Bootstrap card-->
    <div class="card main-bg text-white mt-3">
      <div class="card-body">
        
        <p>
          {% if review.rating %}
          {{ review.rating }}/5<i class="fa-solid fa-star text-warning"></i>
          {% else %}
          No rating
          {% endif %}
          <span class="h4">{{ review.title }}</span> 
        </p>
        <p>
          <small class="text-info">Review by <strong>{{ review.user }}</strong> on {{ review.submitted }}</small>
        </p>
        <p>{{ review.body }}</p>
      </div>

      <!-- Card buttons -->
      {% if request.user.is_superuser or request.user == review.user.user %}
      <div class="card-body">
        <div class="d-flex justify-content-end align-items-center">
            <a type="button" href="{% url 'edit_review' review.id %}" class="btn btn-sm btn-outline-info mx-1">Edit</a>
            <a type="button" href="{% url 'delete_review' review.id %}" class="btn btn-sm btn-outline-light mx-1">Delete</a>
        </div>
      </div>
      {% endif %}
    </div><!-- end/ Bootstrap card-->
    {% endfor %}

  </section><!-- end/ Review section-->

  <section class="recently-viewed-section py-5">
    <div class="mb-5">
      <h2 class="section-heading">Recently Viewed</h2>
    </div>

        <!-- Bootstap cards grid -->
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
          {% for product in recently_viewed_products %}
          <div class="col">
            <div class="card product-card-bg">
              <!-- card image -->
            <div class="card-body rounded-5">
              {% if product.image %}
              <a href="{% url 'product_detail' product.slug %}">
                <img class="img-fluid bg-white rounded-1 p-2" src="{{ product.image.url }}" alt="{{ product.name }}">
              </a>
              {% else %}
              <a href="{% url 'product_detail' product.slug %}">
                <img class="img-fluid product-list-card-img bg-white rounded-1 p-2" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626339/media/no_image_available_sywvct.svg" alt="{{ product.name }}">
              </a>
              {% endif %}
            </div>
  
              <!-- Card heading -->
              <div class="card-body">
                <h5 class="card-title text-white">{{ product.name }}</h5>
              </div>
              <!-- Card tags -->
              <ul class="list-group list-group-flush">
                <li class="list-group-item product-card-bg text-white py-0">
                  <a class="link-light" href="{% url 'products' %}?category={{ product.category.slug }}"><small>{{ product.category }}</small></a>
                </li>
                {% if product.rating %}
                <li class="list-group-item product-card-bg text-white py-0"><small>Rating: {{ product.rating }}/5<i
                      class="fa-solid fa-star text-warning"></i></small></li>
                {% else %}
                <li class="list-group-item product-card-bg text-white py-0"><small>No rating</small></li>
                {% endif %}
                <li class="list-group-item product-card-bg text-white h3">£{{ product.price }}</li>
              </ul>
              <!-- Card buttons -->
              {% if request.user.is_superuser %}
              <div class="card-body">
                <div class="d-flex justify-content-end align-items-center">
                    <a type="button" href="{% url 'edit_product' product.slug %}" class="btn btn-sm btn-outline-info mx-1">Edit</a>
                    <a type="button" href="{% url 'delete_product' product.slug %}" class="btn btn-sm btn-outline-light mx-1">Delete</a>
                </div>
              </div>
              {% endif %}  
            </div>
          </div>
          {% endfor %}


        </div><!-- end/ Bootstap cards grid -->

        




  </section>


  <section class="related-product-section py-5">
    <div class="mb-5">
      <h2 class="section-heading">Related Products</h2>
    </div>

        <!-- Bootstap cards grid -->
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
          {% for product in related_products %}
          <div class="col">
            <div class="card product-card-bg">
              <!-- card image -->
            <div class="card-body rounded-5">
              {% if product.image %}
              <a href="{% url 'product_detail' product.slug %}">
                <img class="img-fluid bg-white rounded-1 p-2" src="{{ product.image.url }}" alt="{{ product.name }}">
              </a>
              {% else %}
              <a href="{% url 'product_detail' product.slug %}">
                <img class="img-fluid product-list-card-img bg-white rounded-1 p-2" src="https://res.cloudinary.com/dsd3trwmi/image/upload/v1661626339/media/no_image_available_sywvct.svg" alt="{{ product.name }}">
              </a>
              {% endif %}
            </div>
  
              <!-- Card heading -->
              <div class="card-body">
                <h5 class="card-title text-white">{{ product.name }}</h5>
              </div>
              <!-- Card tags -->
              <ul class="list-group list-group-flush">
                <li class="list-group-item product-card-bg text-white py-0">
                  <a class="link-light" href="{% url 'products' %}?category={{ product.category.slug }}"><small>{{ product.category }}</small></a>
                </li>
                {% if product.rating %}
                <li class="list-group-item product-card-bg text-white py-0"><small>Rating: {{ product.rating }}/5<i
                      class="fa-solid fa-star text-warning"></i></small></li>
                {% else %}
                <li class="list-group-item product-card-bg text-white py-0"><small>No rating</small></li>
                {% endif %}
                <li class="list-group-item product-card-bg text-white h3">£{{ product.price }}</li>
              </ul>
              <!-- Card buttons -->
              {% if request.user.is_superuser %}
              <div class="card-body">
                <div class="d-flex justify-content-end align-items-center">
                    <a type="button" href="{% url 'edit_product' product.slug %}" class="btn btn-sm btn-outline-info mx-1">Edit</a>
                    <a type="button" href="{% url 'delete_product' product.slug %}" class="btn btn-sm btn-outline-light mx-1">Delete</a>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}


        </div><!-- end/ Bootstap cards grid -->

        




  </section>
  




</div><!-- end/ container -->
</main>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
  const addItem = document.querySelector(".add-item")
  addItem.addEventListener('click', function () {

    const csrftoken = "{{ csrf_token }}";
    let id = this.getAttribute('id');
    let slug = id.split('add-')[1];

    // From stackoverflow answer https://stackoverflow.com/questions/6042007/how-to-get-the-host-url-using-javascript-from-the-current-page
    let path = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;

    let url = path + `/wishlist/add/${slug}/`;

    // AJAX request with csrftoken from Django docs
    const request = new Request(
      url,
      {
        method: 'POST',
        headers: { 'X-CSRFToken': csrftoken },
        mode: 'same-origin' // Do not send CSRF token to another domain.
      }
    );
    fetch(request).then(function (response) {
      location.reload();
    });
  })

</script>
<script type="text/javascript">
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

{% endblock %}